<!-- <form [formGroup]="myForm">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker" formControlName="dob">
  <mat-datepicker-toggle matSuffix [for]="picker">
    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
  </mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

</form> -->
<form [formGroup]="myForm">
  <div class="mt-20"><label>First Name: </label><input type="text" formControlName="firstName"></div>
  <app-error-message [control]="myForm.get('firstName')" key="required">First Name required.</app-error-message>
  <app-error-message [control]="myForm.get('firstName')" key="minlength">Min Length required.</app-error-message>

  <div class="mt-20"><label>Last Name: </label><input type="text" formControlName="lastName"></div>
  <app-error-message [control]="myForm.get('lastName')" key="required">Last Name required.</app-error-message>
  <app-error-message [control]="myForm.get('lastName')" key="minlength">Min Length required.</app-error-message>

  <div class="mt-20"><label>Date Of Birth: </label><input type="date" formControlName="dob"></div>
  <app-error-message [control]="myForm.get('dob')" key="required">DOB required.</app-error-message>
  <app-error-message [control]="myForm.get('dob')" key="maxAge">Max Age Issue.</app-error-message>

  <div class="mt-20">
    <label>Gender: </label>
    <app-custom-checkbox [control]="myForm.get('gender')" [isRequired]="true" value="male">Male</app-custom-checkbox>
    <app-custom-checkbox [control]="myForm.get('gender')" [isRequired]="true" value="female">Female</app-custom-checkbox>
  </div>

  </form>